extends ../layouts/main-layout

block content
  h2 Welcome to your Dashboard
  p Hello #{user.displayName || 'Guest'}!
  
  .control-panel
    .buttons
      button Card 1
      button Card 2
      button Card 3
    .control-panel-cards
      .card.card-1
        if users && users.length > 0
          p Username 
          p Email

            each userItem in users
              p= userItem.name || 'N/A'
              p= userItem.email
   
      .card.card-2 
        h3 System Logs
        p No logs available.
      .card.card-3
        h3 Settings
        p No settings available.
