header.header-nav
  nav.navbar
    if currentPage !== 'home'
      a.logo(href="/") Home

    ul.navlist
      if isAuthed
        //- Only show dashboard link if not on dashboard page
        if currentPage !== 'dashboard'
          li.navitem
            a.nav-link.btn-3d(href="/dashboard")
              span.user-icon 👤
              span.user-text Dashboard
        
        li.navitem
          form.logout-form(method="post" action="/auth/logout")
            button.logout-btn.btn-3d(type="submit") Logout
      else
        li.navitem
          a.nav-link.login-link.btn-3d(href="/auth/google") Login
      
      li.navitem
        button#contactToggle.btn-3d(type="button") Contact

//-script(src="/js/nav-toggle.js")
//-script(src="/js/contact-modal.js" defer)