//- views/partials/header.pug - Clean & Simple
header.header-nav
  .header-container
    nav.navbar
      //- Left: Logo
      .nav-left
        a.logo(href="/") 
          span.logo-text APTATI

        
        button.menu-toggle(type="button" aria-label="Toggle menu")
          span.menu-bar
          span.menu-bar
          span.menu-bar

      //- Right: Auth & Contact Only
      .nav-right
        ul.navlist
          if isAuthed
            li.navitem
              a.nav-link(href="/dashboard")
                span.user-icon 👤
                span.user-text Dashboard
            li.navitem
              form.logout-form(method="post" action="/logout")
                button.logout-btn(type="submit") Logout
          else
            li.navitem
              a.nav-link.nav-highlight(href="/login") Login
          
          li.navitem
            button#contactToggle.contact-btn(type="button") Contact