//- 3D Cube layer (hidden on small screens via CSS)
.rotating-cube(aria-hidden="true")
  .rotating-cube__container
    .rotating-cube__display
      .rotating-cube__cube
        .rotating-cube__face.front A
        .rotating-cube__face.back P
        .rotating-cube__face.right T
        .rotating-cube__face.left A
        .rotating-cube__face.top T
        .rotating-cube__face.bottom I
      .rotating-cube__shadow