doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Aptati Games - #{title || 'Daily challenges'}
    //- No CSS links yet - you'll add them later
    link(rel="stylesheet" href="/css/main.css")
    block head
  //-include ../mixins/game-tile.pug
  body
    //- .burger#burger
    //-   span.bar
    //-   span.bar
    //-   span.bar
    .body-liner.site-bg
      include ../partials/contact-modal.pug
      include ../partials/fixed-nav.pug
      include ../partials/site-bg-2.pug


      main.container
        block content

      footer
        //- p &copy; #{new Date().getFullYear()} Aptati Games

      //-script(src="/js/aptati-consent.js" defer)
      //-0script(src="/js/nav-toggle.js" defer)
      //-script(src="/js/contact-modal.js" defer)