doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Aptati Games - #{title || 'Daily challenges'}
    //- No CSS links yet - you'll add them later
    link(rel="stylesheet" href="/css/main.css")
    block head
  //-include ../mixins/game-tile.pug
  body
    img.space-bg(src="/images/space-bg-2.jpeg", alt="")
    .body-liner
      include ../partials/contact-modal.pug
      include ../partials/fixed-nav.pug
      //- include ../partials/site-bg-2.pug



      main.container
        block content

      //- include ../partials/footer.pug
        //- p &copy; #{new Date().getFullYear()} Aptati Games

      //-script(src="/js/aptati-consent.js" defer)
      //- script(src="/js/nav-toggle.js" defer)
      script(src="/js/contact-modal.js" defer)
      //-script(src="/js/modal-contact.js" defer)