extends ./layouts/main-layout

block content
  //- include ./mixins/responsive-grid-mixin.pug
  include ./partials/landing-page-2.pug

  //- #responsive-grid
  //-   section.feature
  //-     +game-tile("WORD GAME")
  //-   section.feature
  //-   section.feature
  //-   section.feature
  //-   section.feature
  //-   section.feature
  //-   section.feature