

alpha = #2d7f9d
beta = #a4c9d9  //empty
gamma = #80ef80  //correct
delta = #e4ca99 //present
epsilon = #dc7684 //incorrect



footer  
    display flex
    //gap 1rem
    position relative
    .footer-item 
        flex 1
        height 4rem
.alpha 
    background alpha
.beta 
    background beta
.gamma 
    background gamma
.delta 
    background delta
.epsilon 
    background epsilon