#responsive-grid
  display grid
  grid-template-columns repeat(auto-fill, minmax(130px, 1fr))
  gap 1rem 
  //border 2px solid red
  max-width 1200px
  width 100%
  margin 0 auto 
section.feature
    width 130px
    height 130px

    //padding 1rem
    background rgba(alpha, 0.1)
    border-radius 8px
    box-shadow 0 2px 5px rgba(alpha, 0.4)
