.responsive-grid
  //border 2px solid red
  display grid
  grid-template-columns repeat(auto-fill, minmax(230px, 1fr))
  gap 1rem 
  //background pink
  max-width 1200px
  position relative
  width 100%
  margin 0 auto 

section.feature
    width 130px
    height 130px
    //padding 1rem
    background rgba(alpha, 0.1)
    border-radius 8px
    box-shadow 0 2px 5px rgba(alpha, 0.4)
