.pad-05
    padding 0.5rem
.pad-1
    padding 1rem
.pad-2
    padding 2rem
.pad-3
    padding 3rem
.pad-top-05
    padding-top 0.5rem
.pad-top-1
    padding-top 1rem
.pad-top-2
    padding-top 2rem
.pad-top-3
    padding-top 3rem
.pad-btm-05
    padding-bottom 0.5rem
.pad-btm-1
    padding-bottom 1rem
.pad-btm-2
    padding-bottom 2rem
.pad-btm-3
    padding-bottom 3rem
.pad-left-05
    padding-left 0.5rem
.pad-left-1
    padding-left 1rem
.pad-left-2
    padding-left 2rem
.pad-left-3
    padding-left 3rem
.pad-right-05
    padding-right 0.5rem
.pad-right-1
    padding-right 1rem
.pad-right-2
    padding-right 2rem
.pad-right-3
    padding-right 3rem