
//public/styls/common.styl
* 
    box-sizing border-box   
    margin 0
    padding 0
    color alpha + 20%

button, a 
    cursor pointer
    outline none
    background transparent 
    display flex
    justify-content center 
    align-items center
    border none
    font-size .9rem
    color alpha + 40%
    padding .2rem .3rem
    text-decoration none
    text-transform uppercase

h1, h2, h3, h4, h5, h6
    position relative
    text-transform: uppercase
    font-weight 400
    font-size 1rem
    color alpha + 80%

p
    color alpha + 80%
p.used-unused
    display flex
    gap 1rem
    justify-content center
    align-items center
    .used-letters
        color gamma
    .unused-letters
        color beta
.dot
    width 8px
    height 8px
    border-radius 50%
    background alpha + 20%
p.subtitle 
    line-height 1
    top -.4rem
::-webkit-scrollbar 
    width 10px;
    border-radius 5px
    display none

.light-border
    border 1px solid rgba(alpha, .16)

.guide
    padding 0 .5rem
    border-left 6px solid epsilon - 40%
    p.guide-p
        text-transform normal !important
        color epsilon + 40%
        text-align left
p.hint 
    color epsilon 
    font-size 1rem
    height fit-content
    line-height 1
    margin 0 auto
    width fit-content
    text-align center

.custom-hr 
    display flex
    gap .5rem
    justify-content center
    align-items center
    margin 1rem auto
    width 100%// fit-content

    .span-1, .span-3
        min-width 6rem
        height 1px
        background rgba(alpha, .4)

hr.plain-hr
    width 100%
    height 1px

.pos-rel
    position relative
.pos-abs
    position absolute    
.txt-center
    text-align center
.txt-left
    text-align left
.txt-right
    text-align right
.game-name-wrap
    border-bottom 1px solid rgba(alpha, .4)
    .game-name
        column-gap .3rem

        align-items center
        height 3.4rem
        margin 1.4rem auto 1rem 0rem
        line-height 1
        width fit-content
        span 
            position relative
            width 100%
            display block
            text-align left
        span:nth-child(1)
            color delta
            align-self start
            grid-column 1 / -1
            

            font-size .9rem
            
        span:nth-child(2)
            font-size 1.2rem
            color delta
            font-weight bold

        span:nth-child(3)
            font-size .8rem
            text-align left
            color gamma

            width 100% !important
            //-top - 1.6rem
            //-right 0
            //grid-column 1 / 2
.logo-circles
    display flex
    align-items end
    gap .14rem
    .circle
        border-radius 50%
    .circle-1
        height .65rem
        width .65rem
        border 1px solid delta
    .circle-2
        height .9rem
        width .9rem
        border 1px solid delta
    .circle-3
        height .45rem
        width .45rem
        border 1px solid gamma
