

// * 
//     margin 0
//     padding 0
//     box-sizing border-box

alpha = green

h1 
    color red
h2  
    color blue
body  
    font-family Arial, sans-serif
    background-color green
    width 100%
    min-height 100vh