.index-wrap
    max-width 600px
    margin 1rem auto 2rem 0
    padding 1rem
    text-align right
    //border 1px solid #fff
    h1 
        color beta
        font-family Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
.index-heading-span
    color delta - 30%

    margin-left auto
    //display block
p.subtitle 
    font-size 1.5rem
    font-weight bold
    color epsilon //+ 50%
    margin-top 1rem
    margin-bottom 2rem
.actions
    margin-top 2rem
    display flex
    gap 1rem
    flex-wrap wrap
    justify-content center
    .btn 
        padding 1rem 3rem
        border-radius 2rem
        background alpha
        color alpha - 30%

    a.btn.btn-primary
        background linear-gradient( alpha, alpha + 40%, alpha + 50%, alpha + 40%, alpha)
        box-shadow inset 0 0 10px rgba(alpha,0.5)
        font-size 1.2rem
        &:hover
            background alpha + 10%
    a.btn.btn-secondary
        background linear-gradient(delta, beta)
        font-size 1.2rem
.features
    display flex
    flex-direction column
    justify-content space-between
    margin-top 4rem
    gap 1rem
.feature
    background rgba(beta, .1)
    display flex
    gap 1rem
    border-radius 8px
    padding 1rem
    box-shadow 0 4px 6px rgba(0,0,0,0.1)
    border 1px solid rgba(beta, .2)
    font-size 2rem
    color beta
.stats
    display flex
    justify-content space-between
    margin-top 4rem
    gap 1rem
.stat
    background rgba(gamma, .1)
    display flex
    flex-direction column
    align-items center
    color beta
    font-size 1.5rem
    text-align center
.stat-label
    color epsilon - 40%
    font-weight: bold
.stat-number
    font-size 2.5rem
    font-weight bold
    color delta - 30%