//Classes to be added to the games

// word-groups game
//1st category, add class to category and words 1
// 1. wg-class-1
// 2nd category, add class to category and words 2
// 2. wg-class-2
// 3rd category, add class to category and words 3
// 3. wg-class-3
// 4th category, add class to category and words 4
// 4. wg-class-4

// =====================================

// boxed-letters game
// when a letter is used add the class 
// .bl-letter-used

// =====================================

//spell-bug game
// Note: the #sb-word-list initially be empty, when a word is formed it is added to this element in a span with the class sb-word-word-found. When "END GAME" is clicked, the words the player didn't find will also be added to this element in a span with the class sb-word-not-found.


// =====================================

// word-scramble game (similar to wordle)
// when a letter is used and is in the correct position add the class
// .ws-correct. when moving on to the next line, the class will also be added to the correct letters on the the next row, with the ability to skip over any correct letters.
// when a letter is used and is in the word but in the wrong position add the class
// .ws-present
// when a letter is used and is not in the word add the class ws-incorrect

//When "END GAME" button is clicked the answer will bey revealed in the first empty row or the last row if there are no empty rows.

// =====================================

// game messages
// error message (for all games) add the class .error-message
// success message (for all games) add the class .success-message
