body 
    display flex
    align-items start
    justify-content center
    min-height 100vh
    background alpha - 80% //rgba(alpha, .8)
.body-liner
    width 26.5rem
    margin-top 2rem
    max-width 100%
    position relative
    //border 1px solid red
    background alpha - 75%
    height 48rem
    overflow-x hidden
.game-blocks
    width 100%
    max-width 90%
    //display flex
    //flex-wrap wrap
    justify-content center
    align-items start
    //gap 2rem
    margin 0rem auto
    //background pink
    //margin 0 auto
    //padding 20px
.game-block
    position relative
    width 100%
    //border 1px solid red
    height fit-content
.game-block.header-btns-block
    width 100%