alpha = #2d7f9d
beta = #a4c9d9
gamma =#eaf2f4
delta = #dc7684
epsilon = #e4ca99
@require './common.styl'
@require './partials/contact-modal.styl'
@require './partials/header.header-nav.styl'
@require './partials/responsive-grid.styl'
@require './games/images/game-tile.styl'
//@require './styl-images/landing-page-1.styl'
@require './styl-images/landing-page-2.styl'
@require './partials/header.styl'
@require './partials/site-bg-2.styl'
