alpha = #2d7f9d
beta = #FACE68
gamma = #007f00
delta = #dc7684
epsilon = #CB9DF0
theta = #c44601
@require './partials/*'
@require './positioning/*'
@require 'mixins/*'
@require './games/*'
@require'./*'
@require './common'


