//public/styls/main-layout.styl
body 
    display flex
    align-items center
    justify-content center
    min-height 100vh
    background alpha - 80% 
.body-liner-grid
    display grid
    grid-template-columns: 1fr
    grid-template-rows 1fr

.body-liner
    grid-column 1/2
    grid-row 1/ 2
    width 26.5rem
    max-width 100%
    position relative
    transition: all .3s ease-in-out
    height 48rem
    overflow-x hidden
// body liner is not removed it is overlaid with 
.nav-body-liner
    order 4
    z-index 1
.main-body-liner 
    transform scale(1,1)    
    background alpha - 75%
.contact-body-liner
    z-index 2

    &::before
        content ""
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        background-color: rgba(0,0,0,0.3) 
        backdrop-filter: blur(8px);
        z-index - 2
.blur-body-liner
    order 1
    display flex
    justify-content center
    align-items center
    transform scale(1, 0)
    background-color: rgba(0,0,0,0.3); /* Transparency is required */
    backdrop-filter: blur(10px);
.blur-body-liner.blur-active
    order 1
    transform scale(1, 1)
    z-index 0
.game-blocks
    width 100%
    max-width 90%
    justify-content center
    align-items start
    margin 0rem auto
.game-block
    position relative
    width 100%
    height fit-content
.game-block.header-btns-block
    width 100%