// alpha = #2d7f9d
// beta = #a4c9d9
// gamma = #007f00
// delta = #dc7684
// epsilon = #e4ca99

.sb-answer-dropdown
    padding-bottom 4rem
    &::after
        content: "CLOSE"
        color alpha + 60%
        position: absolute
        font-size: 1rem
        bottom: .7rem
        left: 50%
        transform: translateX(-50%)
        font-size 1rem
        border-radius: 4px
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        z-index: 100
        font-size: 1rem
        padding .4rem
        //background: rgba(delta, 0.3)
        border 1px solid alpha - 40%
        border-radius: 8px
        width 120px
// .solution-item 
//     color alpha + 50%
//     font-size .9rem
// .game-info
//     text-align: center
//     border 1px solid #fff
//     height 3rem

//     p
//         margin: 0.3rem 0
//         font-size: 1rem
//         font-weight: bold
    
.score, .max-score
    color: alpha + 60%
    margin-bottom 0.5rem

/* Honeycomb grid */
.honeycomb-grid
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: .4rem
    justify-content: center
    align-items: start
    margin: 1rem auto
    width: fit-content
    position relative
    z-index 0

.honeycomb-btn
    width: 75px
    height: 75px
    background: rgba(delta, .2)
    border none
    font-size: 1.8rem
    font-weight: bold
    color: beta
    cursor: pointer
    transition: all 0.2s ease
    display: flex
    align-items: center
    justify-content: center
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
    
    &:hover
        background: rgba(epsilon, 0.4)
        transform: scale(1.02)
    &:active
        transform: scale(0.98)
    
    &.center
        background: rgba(epsilon, 0.6)
        border none
        color: alpha + 80%

button.honeycomb-btn.center
    grid-column 3/5
    grid-row 4/8
button.honeycomb-btn.honeycomb-btn-1
    grid-row 1/5
    grid-column 2/4
button.honeycomb-btn.honeycomb-btn-2
    grid-column 4/6
    grid-row 1/5
button.honeycomb-btn.honeycomb-btn-3
    grid-column 1/3
    grid-row 4/8
button.honeycomb-btn.honeycomb-btn-4
    grid-column 5/7
    grid-row 4/8
button.honeycomb-btn.honeycomb-btn-5
    grid-column 2/4
    grid-row 7/11
button.honeycomb-btn.honeycomb-btn-6
    grid-column 4/6
    grid-row 7/11

.sb-your-words
    //border 1px solid red
    text-align center

#sb-word-list
    //padding: 1rem
    width 100%
    overflow-y scroll
    //overflow-x hidden
    border 1px solid alpha - 40%
    //background alpha - 60%
    height 100px
    display flex
    flex-wrap wrap
    gap .4rem
    span 
        background alpha - 70%
        padding .2rem .4rem
        font-size .9rem
        flex-grow 1
    button 
        padding: .2rem 1rem
    h4 
        color alpha + 80%
        margin  0.4rem 0
        font-size .9rem
        border-bottom 1px solid alpha - 50%

    p
        margin: 0 0 0.3rem
        font-size: 0.9rem
        text-transform: uppercase
    .word-group-items
        display: flex
        flex-wrap: wrap
        gap: 0.4rem
    .word-tag
        //background: rgba(beta, 0.1)
        padding: 0.2rem 0.4rem
        border-radius: 6px
        font-size: .9rem
        color alpha + 50%
        //border: 1px solid rgba(alpha, 0.3)
        &.pangram
            background: rgba(epsilon, 0.3)
            color: epsilon
            font-weight: bold
// ---------------one offs--------------------

p.sb-word-hint
    color alpha + 60%
    font-size 1rem
    text-align center
// #sb-current-score, #sb-max-score
//     color alpha + 60%
//     font-size 1rem  
.sb-scores
    display flex
    //flex-direction: column
    align-items center
    justify-content center
    gap 2rem    
